<%- include('./partials/header')%>
<nav class="bar">
    <ul class="menu">
        <li><a href="/">Todos</a></li>
        <li><a id="atual" href="/basquete">Basquete</a></li>
        <li><a href="/corrida">Corrida</a></li>
        <li><a href="/futebol">Futebol</a></li>
        <li><a href="/skate">Skate</a></li>
    </ul>
</nav>

<div class="products">
    <h1>Nossos produtos</h1>
    <div class="all-products">
        <div class="product">
            <img src="./images/tenis.png" alt="tenis">
            <div class="info-product">
                <h4 class="product-tittle">Tenis Giannis II</h4>
                <p class="product-price">R$50</p>
                <a href="/produto" class="product-btn">Comprar</a>
            </div>
        </div>

        <div class="product">
            <img src="./images/elevate.png" alt="calça">
            <div class="info-product">
                <h4 class="product-tittle">Tenis Giannis II</h4>
                <p class="product-price">R$50</p>
                <a href="/produto" class="product-btn">Comprar</a>
            </div>
        </div>

        <div class="product">
            <img src="./images/flybymid.png" alt="blusa">
            <div class="info-product">
                <h4 class="product-tittle">Tenis Giannis II</h4>
                <p class="product-price">R$50</p>
                <a href="/produto" class="product-btn">Comprar</a>
            </div>
        </div>

    </div>

    <div class="all-products">
        <div class="product">
            <img src="./images/precision.png" alt="tenis">
            <div class="info-product">
                <h4 class="product-tittle">Tenis Giannis II</h4>
                <p class="product-price">R$50</p>
                <a href="/produto" class="product-btn">Comprar</a>
            </div>
        </div>

        <div class="product">
            <img src="./images/elevate.png" alt="calça">
            <div class="info-product">
                <h4 class="product-tittle">Tenis Giannis II</h4>
                <p class="product-price">R$50</p>
                <a href="/produto" class="product-btn">Comprar</a>
            </div>
        </div>

        <div class="product">
            <img src="./images/flybymid.png" alt="blusa">
            <div class="info-product">
                <h4 class="product-tittle">Tenis Giannis II</h4>
                <p class="product-price">R$50</p>
                <a href="/produto" class="product-btn">Comprar</a>
            </div>
        </div>

    </div>

    <div class="all-products">
        <div class="product">
            <img src="./images/tenis.png" alt="tenis">
            <div class="info-product">
                <h4 class="product-tittle">Tenis Giannis II</h4>
                <p class="product-price">R$50</p>
                <a href="/produto" class="product-btn">Comprar</a>
            </div>
        </div>

        <div class="product">
            <img src="./images/elevate.png" alt="calça">
            <div class="info-product">
                <h4 class="product-tittle">Tenis Giannis II</h4>
                <p class="product-price">R$50</p>
                <a href="/produto" class="product-btn">Comprar</a>
            </div>
        </div>

        <div class="product">
            <img src="./images/flybymid.png" alt="blusa">
            <div class="info-product">
                <h4 class="product-tittle">Tenis Giannis II</h4>
                <p class="product-price">R$50</p>
                <a href="/produto" class="product-btn">Comprar</a>
            </div>
        </div>

    </div>
</div>
<%- include('./partials/footer') %>