<%- include('./partials/header3')%>
<div class="card">
    <div class="container">
        <div class="form">
            <form action="/create" method="post">
                <div class="header">
                    <div class="title">
                        <h1>Login</h1>
                    </div>
                    <div class="cadastro">
                        <a href="/cadastro">Cadastro</a>
                    </div>
                </div>
                <div class="input">
                    <div class="input-box">
                        <label for="email">E-mail</label>
                        <input id="email" type="text" name="email" placeholder="Digite seu email" required>
                    </div>
                    <div class="input-box">
                        <label for="password">Senha</label>
                        <input id="password" type="password" name="senha" placeholder="Digite sua senha" required>
                    </div>
                </div>
                <div class="login">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include('./partials/footer') %>