<%- include('./partials/header2')%>
<section class="home">
    <div class="home-img">
        <img src="./images/tenis.png">
    </div>

    <div class="home-text">

        <h1>Tenis <br> Giannis II</h1>
        <h5>Os melhores tênis</h5>
        <h3>$50.00</h3>
        <a href="/" class="btn">Compre agora</a>

    </div>
</section>
<%- include('./partials/footer') %>